{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="text">
        <h1>About Blogly</h1>
<p>This app was an assignment that I completed from my Software Developer bootcamp through Springboard to demonstrate an understanding of the fundamentals of Flask and SQLalchemy. </p>

    </div>
</div>
<div class="container">
 <div class="text">
<h1>Writers</h1>
<ul>
    {% for user in users%}
    <li><a href="/{{user.id}}">{{user.first_name}} {{user.last_name}}</a> </li>
    {% endfor %}
</ul>

</div>
</div>
{% endblock %}