{% extends "base.html" %}
{% block content %}


<div class="card" style="width: 18rem;">
    <div class="text">
    <img class="card-img-top" src="{{ user.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}'s Profile</h5>
      <p class="card-text">Welcome to my blog! This is my bio, where I will tell you everything about myself and how much I love blogging!</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>First Name:</span>
        <span>{{user.first_name}}</span></li>
      <li class="list-group-item"><span>Last Name:</span>
        <span>{{user.last_name}}</span></li>
      <li class="list-group-item">Age:28</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"></a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div>
  </div>

<div class="group">

<p></p>
<form action="/users/{{user.id}}/edit">
    <input type="submit" value="Edit" />
</form>
<form action="/users/{{user.id}}/remove" , method="POST">
    <input type="submit" value="Delete" />
</form>

<h2>Posts</h2>
<ul>
    {% for post in user.posts%}
    <li>
        <a href="posts/{{post.id}}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>

<form action='/users/{{user.id}}/posts/new' , method="GET">
    <input type="submit" value="Add Post" />
</form>
</div>
{% endblock %}
